<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div *ngIf="category" class="header">
        <span class="spacer"></span>
        <h3>{{category.name}}</h3>
        <span class="spacer"></span>
    </div>
    <br>
    <div *ngIf="categories && categories.length" class="container page">
        <div class="row">
            <ng-container *ngFor="let subCategory of categories">
                <div class="col-md-4 col-12 catgoryCard single-products-catagory clearfix">
                    <a (click)="select(subCategory);">
                        <div style="border-radius: 20px;" class="loadingBackground">
                            <img style="border-radius: 20px; visibility: hidden;" [src]="subCategory.pic"
                                (load)="markEventLoaded($event)">
                        </div>
                        <div class="hover-content">
                            <div class="line"></div>
                            <h2>{{subCategory.name}}</h2>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>