<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="header">
    <span class="spacer"></span>
    <h3 *ngIf="label">{{label | titlecase}}</h3>
    <h3 *ngIf="!label">{{'best seller' | titlecase}}</h3>
    <span class="spacer"></span>
    <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
        <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
        BACK
    </button>
</div>
<br>
<div *ngIf="page && page.items && page.items.length" class="container page" style="padding-bottom: 10px;">
    <div class="row">
        <div class="col-12">
            <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                <!-- Total Products -->
                <div class="total-products">
                    <p *ngIf="page.limit && page.limit <= page.total">Showing 1-{{page.limit}} 0f {{page.total}}</p>
                    <p *ngIf="page.limit && page.limit > page.total">Showing 1-{{page.total}} 0f {{page.total}}</p>
                    <p *ngIf="!page.limit">Showing 1-{{page.total}} 0f {{page.total}}</p>
                </div>
                <!-- Sorting -->
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <mat-label>Sort by</mat-label>
                            <mat-select [(ngModel)]="query.sort" (selectionChange)="get()">
                                <mat-option value="new">Newest
                                </mat-option>
                                <mat-option value="rating">Ratings
                                </mat-option>
                                <mat-option value="purchase">Popular
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <mat-label>View</mat-label>
                            <mat-select [(ngModel)]="query.limit" (selectionChange)="get()">
                                <mat-option [value]="10">10
                                </mat-option>
                                <mat-option [value]="20">20
                                </mat-option>
                                <mat-option [value]="30">30
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <ng-container *ngFor="let item of page.items;let i=index">
            <div class="card itemCard" id="card{{i+1}}">
                <div class="single-product-wrapper">
                    <div class="product-img">
                        <img [src]="item.pic">
                        <img class="hover-img" [src]="getSecandoryPic(item)">
                    </div>
                    <div class="product-description align-items-center justify-content-between">
                        <div class="ratings-cart">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="product-meta-data">
                            <a (click)="select(item)">
                                <h6>{{item.name}}</h6>
                            </a>
                        </div>
                        <div class="product-meta-data">
                            <p><b class="product-price">${{item.defaultOption.price}} </b><s class="oldPrice">
                                    ${{item.defaultOption.actualPrice}}</s></p>
                        </div>
                        <div class="cart">
                            <button (click)="addToCart(item)" mat-raised-button color="accent">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="paginator">
        <app-paginator [page]="this"></app-paginator>
    </div>
</div>