<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div class="header">
        <span class="spacer"></span>
        <h3>All Items</h3>
        <span class="spacer"></span>
        <button *ngIf="!isMobile" (click)="new()" class="backButton" mat-raised-button color="primary">
            New
        </button>
    </div>
    <div *ngIf="items" class="container page">
        <table mat-table [dataSource]="items" class="mat-elevation-z8">

            <ng-container matColumnDef="pic">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <img style="width: 100px;" [src]="element.pic"> </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="sub-category">
                <th mat-header-cell *matHeaderCellDef> Sub Category </th>
                <td mat-cell *matCellDef="let element"> {{element.subCategory.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <button (click)="edit(element.id)" mat-icon-button
                        color="primary">
                        <mat-icon>edit</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['pic', 'name', 'category', 'sub-category', 'status', 'action']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['pic', 'name', 'category', 'sub-category', 'status', 'action'];"></tr>
        </table>
    </div>
</div>