<div style="width: 100%; height: 100%;" *ngIf="currentTenant">
    <mat-toolbar class="topvh" style="position: fixed;z-index: 100;" color="primary">
        <mat-toolbar-row style="margin: auto;">
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <a *ngIf="!searchSelected" (click)="searchSelected = !searchSelected" class="callButton" fxShow="true"
                fxHide.gt-sm mat-icon-button>
                <mat-icon>search</mat-icon>
            </a>
            <span *ngIf="isMobile && !searchSelected" class="spacer"></span>
            <span *ngIf="!searchSelected && isMobile" [routerLink]="['']" class="titleMobile">
                <img style="margin-right: 5px;" class="logoImg" src="/assets/img/Black Bg 1.png">
                <ng-container>Comfort <span class="accentColor">& Care</span></ng-container>
            </span>
            <span *ngIf="!searchSelected && !isMobile" [routerLink]="['']" class="title">
                <img class="logoImg" src="/assets/img/Black Bg 1.png">
                <ng-container>Comfort <span class="accentColor">& Care</span></ng-container>
            </span>
            <span class="spacer"></span>
            <mat-form-field *ngIf="searchSelected" style="width: 200px !important; margin-right: 5px;"
                class="example-full-width searchBar" [floatLabel]="'never'">
                <!-- <mat-label></mat-label> -->
                <mat-placeholder class="placeholder">Search Products</mat-placeholder>
                <input type="text" class="searchInput" autofocus matInput [(ngModel)]="selectedItem"
                    [formControl]="myControl" [matAutocomplete]="auto">
                <!-- <mat-icon (click)="searchSelected=!searchSelected" color="accent" matSuffix>close</mat-icon> -->
                <!-- <i (click)="searchSelected=!searchSelected" class="fa fa-times accent"></i> -->
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option (click)="selectItem(option.id)"
                        style="height: 50px; text-align: center; padding-top: 3px; padding-bottom: 3px;"
                        *ngFor="let option of options" [value]="option">
                        <div class="header">
                            <img style="height: 30px; margin: auto;"
                                [src]=" option.thumbnail || '/assets/img/White Bg 1.png'">
                            <span class="spacer"></span>
                            {{option.name | titlecase}}
                            <span class="spacer"></span>
                        </div>
                    </mat-option>
                    <mat-option *ngIf="!options || !options.length"
                        style="height: 50px; text-align: center; padding-top: 3px; padding-bottom: 3px;">
                        <div class="header">
                            <span class="spacer"></span>
                            No Products Available
                            <span class="spacer"></span>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <span *ngIf="searchSelected" class="spacer"></span>
            <a *ngIf="searchSelected" (click)="searchSelected = !searchSelected" class="callButton" fxShow="true"
                fxHide.gt-sm mat-icon-button>
                <mat-icon>close</mat-icon>
            </a>
            <a *ngIf="currentTenant && !searchSelected" class="callButton" fxShow="true" fxHide.gt-sm
                [href]="'tel:'+currentTenant.phone" mat-icon-button>
                <mat-icon>call</mat-icon>
            </a>
            <button style="margin-right: 10px;" *ngIf="cart && !searchSelected" [routerLink]="['cart']" mat-icon-button
                fxShow="true" fxHide.gt-sm>
                <mat-icon matBadge="{{cart.items.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>
            <span flex></span>
            <div fxShow="true" fxHide.lt-md>
                <mat-form-field style="width: 200px !important; margin-right: 10px;"
                    class="example-full-width searchBar" [floatLabel]="'never'">
                    <mat-placeholder id="yellowPlaceholder" class="placeholder">Search Products <i
                            style="margin-left: 10px;" class="fa fa-search"></i></mat-placeholder>
                    <!-- <mat-label>Search Products <i style="margin-left: 10px;" class="fa fa-search"></i></mat-label> -->
                    <input type="text" #searchInput class="searchInput" matInput [(ngModel)]="selectedItem"
                        [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option (click)="selectItem(option.id)"
                            style="height: 50px; text-align: center; padding-top: 3px; padding-bottom: 3px;"
                            *ngFor="let option of options" [value]="option">
                            <div class="header">
                                <img style="height: 30px; margin: auto;"
                                    [src]=" option.thumbnail || '/assets/img/White Bg 1.png'">
                                <span class="spacer"></span>
                                {{option.name | titlecase}}
                                <span class="spacer"></span>
                            </div>
                        </mat-option>
                        <mat-option *ngIf="!options || !options.length"
                            style="height: 50px; text-align: center; padding-top: 3px; padding-bottom: 3px;">
                            <div class="header">
                                <span class="spacer"></span>
                                No Products Available
                                <span class="spacer"></span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button *ngIf="currentUser && auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['banners']" color="accent" mat-button>Banners</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['view-categories']" color="accent" mat-button>Categories</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['view-sub-categories']" color="accent" mat-button>Sub Categories</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['view-items']" color="accent" mat-button>Items</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['view-orders']" color="accent" mat-button>Orders</button>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']"
                    color="accent" mat-button>Home</button>
                <button routerLinkActive="active" [routerLink]="['items']" color="accent" mat-button>Best
                    Sellers</button>
                <ng-container *ngIf="categories && categories.length && !auth.hasPermission('admin')">
                    <button *ngFor="let category of categories" routerLinkActive="active"
                        [routerLink]="['category', category.id]" color="accent" mat-button>{{category.name}}</button>
                </ng-container>
                <button *ngIf="currentUser && !auth.hasPermission('admin')" routerLinkActive="active"
                    [routerLink]="['orders']" color="accent" mat-button>My Orders</button>
                <button routerLinkActive="active" *ngIf="!currentUser" [routerLink]="['login']" color="accent"
                    mat-button>Login</button>
                <button routerLinkActive="active" *ngIf="currentUser" (click)="logout()" color="accent"
                    mat-button>LogOut</button>
                <a *ngIf="currentTenant" class="callButton" [href]="'tel:'+currentTenant.phone" style="margin-left: 2%;"
                    mat-icon-button>
                    <mat-icon>call</mat-icon>
                </a>
                <button style="margin-right: 10px;" *ngIf="cart" [routerLink]="['cart']" mat-icon-button>
                    <mat-icon matBadge="{{cart.items.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav style="width: 50%;text-align: center;" #sidenav>
            <mat-nav-list class="fixvh">
                <div style="width: 100%;text-align: right;">
                    <button (click)="sidenav.toggle()" mat-icon-button color="accent">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <button *ngIf="currentUser && auth.hasPermission('admin')" style="width: fit-content; min-width: 60%;"
                    routerLinkActive="active" [routerLink]="['banners']" color="accent" mat-button>Banners</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" style="width: fit-content; min-width: 60%;"
                    routerLinkActive="active" [routerLink]="['view-categories']" color="accent" mat-button
                    routerLinkActive="active">Categories</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" style="width: fit-content; min-width: 60%;"
                    routerLinkActive="active" [routerLink]="['view-sub-categories']" color="accent" mat-button
                    routerLinkActive="active">Sub Categories</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" style="width: fit-content; min-width: 60%;"
                    routerLinkActive="active" [routerLink]="['view-items']" color="accent" mat-button
                    routerLinkActive="active">Items</button>
                <button *ngIf="currentUser && auth.hasPermission('admin')" style="width: fit-content; min-width: 60%;"
                    routerLinkActive="active" [routerLink]="['view-orders']" color="accent" mat-button
                    routerLinkActive="active">Orders</button>
                <button style="width: fit-content; min-width: 60%;" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['']" routerLinkActive="active" color="accent" mat-button>Home</button>
                <br>
                <button style="width: fit-content; min-width: 60%;" [routerLink]="['items']" routerLinkActive="active"
                    color="accent" mat-button>Best
                    Sellers</button>
                <ng-container *ngIf="categories && categories.length && !auth.hasPermission('admin')">
                    <button routerLinkActive="active" *ngFor="let category of categories"
                        style="width: fit-content; min-width: 60%;" [routerLink]="['category', category.id]"
                        color="accent" mat-button>{{category.name}}</button>
                </ng-container>
                <button routerLinkActive="active" style="width: fit-content; min-width: 60%;" *ngIf="!currentUser"
                    [routerLink]="['login']" color="accent" mat-button>Login</button>
                <button routerLinkActive="active" style="width: fit-content; min-width: 60%;"
                    *ngIf="currentUser && !auth.hasPermission('admin')" [routerLink]="['orders']" color="accent"
                    mat-button>My Orders</button>
                <button routerLinkActive="active" style="width: fit-content; min-width: 60%;" *ngIf="currentUser"
                    (click)="logout()" color="accent" mat-button>LogOut</button>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="overflow-x: hidden;" autosize fxFlexFill>
            <div class="main fixvh">
                <router-outlet></router-outlet>
                <footer class="footer_area clearfix">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="single_widget_area">
                                    <img class="fotterImg" src="/assets/img/Black Bg.png">
                                    <img class="fotterImgLogo" src="/assets/img/nz_made.png">
                                    <p class="copywrite">
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        Comfort And
                                        Care Limited
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="single_widget_area">
                                            <div class="footer_menu">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                <span class="fotterTitleExpention">About us</span>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <span style="color: black; font-size: 15px;"
                                                            [innerHtml]="currentTenant.about">
                                                        </span>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="single_widget_area">
                                            <div class="footer_menu">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                <span class="fotterTitleExpention">Contact us</span>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <span style="color: black; font-size: 15px;">
                                                            Email: {{currentTenant.phone}}<br>
                                                            Phone: {{currentTenant.email}}<br>
                                                            Address: {{currentTenant.address}}</span>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12 col-md-6">
                                        <div class="single_widget_area">
                                            <div class="footer_menu">
                                                <span class="fotterTitle">Follow us</span>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-2 col-md-2">
                                                        <a style="color: #3b5998;" href="index.html"><i
                                                                class="fa fa-facebook-square fa-2x"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-2 col-md-2">
                                                        <a style="color: #C13584;" href="index.html"><i
                                                                class="fa fa-instagram fa-2x"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-12 col-md-6">
                                        <div class="single_widget_area">
                                            <div class="footer_menu">
                                                <span class="fotterTitle">Payment methods supported</span>
                                                <div class="row" style="padding-top: 5px;">
                                                    <!-- <div class="col-2 col-md-2">
                                                        <a style="color: #3b7bbf;" href="index.html"><i
                                                                class="fa fa-cc-paypal fa-2x"
                                                                aria-hidden="true"></i></a>
                                                    </div> -->
                                                    <div class="col-2 col-md-2">
                                                        <a style="color: #008cdd;" href="index.html"><i
                                                                class="fa fa-cc-stripe fa-2x"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>