mat-sidenav {
    background-color: var(--primary) !important;
}

.title {
    margin-right: 2%;
    border: 0 !important;
}

.title:focus {
    outline: 0;
  }

.titleMobile {
    margin-right: 2%;
    border: 0 !important;
    font-size: 18px;
}

.titleMobile:focus {
    outline: 0;
}

.fotterTitle {
    color: var(--accent);
}

.fotterTitleExpention {
    color: var(--primary);
}

.spacer {
    flex: 1 1 auto;
  }

.active {
    background-color: var(--accent);
    color: var(--primary);
}

.topvh {
    height: 11vh !important;
}

.fixvh {
    margin-top: 11vh !important;
}

.logoImg {
    height: 8vh;
}

.fotterImg {
    height: 13vh;
}

@media only screen and (max-width: 780px) {
    .topvh {
        height: 9vh !important;
    }
    
    .fixvh {
        margin-top: 9vh !important;
    }
    .logoImg {
        height: 4vh;
    }
    .fotterImg {
        height: 7vh;
    }
}

@media only screen and (max-width: 500px) {
    .topvh {
        height: 8vh !important;
    }
    
    .fixvh {
        margin-top: 8vh !important;
    }
    .logoImg {
        height: 3vh;
    }
    .fotterImg {
        height: 6vh;
    }
}

.callButton {
    color: white;
}

.callButton:hover {
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-label {
    color: var(--accent) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  #yellowPlaceholder {
    color: var(--accent);
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  ::ng-deep .searchBar .mat-form-field-underline {
    display: none !important;
}

.searchBar {
    text-align: center;
}

.searchInput {
    color: var(--accent) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.mat-focused .placeholder {
    color: transparent !important;
}

mat-expansion-panel {
    background-color: rgb(255,167,38,.8);
    margin-bottom: 10px;
    margin-top: 10px;
}

::ng-deep mat-expansion-panel-header:hover{
    background: none !important;
}

::ng-deep mat-expansion-panel-header.mat-expanded:hover{
    background: none !important;
}
  