.loginCard {
  width: 90%;
  margin: auto;
  text-align: center;
  border: 1.5px solid var(--accent);
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(255,167,38,.2), 0 8px 10px 1px rgba(255,167,38,.14), 0 3px 14px 2px rgba(255,167,38,.12);
}

.smallLabel {
  color: var(--accent);
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}

mat-form-field {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--primary) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--primary) !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: var(--primary) !important;;
}

mat-label {
  color: var(--primary) !important;
}

.primaryColor {
  color: var(--primary) !important;
}

@media screen and (max-width: 960px) {

}