<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div class="header">
        <span class="spacer"></span>
        <h3>Sign Up</h3>
        <span class="spacer"></span>
        <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
            BACK
        </button>
    </div>
    <div class="container page">
        <div class="loginCard">
            <mat-form-field class="full-width-input">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="name" [required]="true">
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>Email</mat-label>
                <input matInput numbersOnly name="email" [(ngModel)]="email" [required]="true">
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>Mobile No</mat-label>
                <input matInput numbersOnly name="phone" (change)="checkPhoneValid()" [(ngModel)]="phone" minlength="10"
                    maxlength="10" [required]="true">
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password" [required]="true">
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" name="confirm-password" [(ngModel)]="confirmPassword" [required]="true">
            </mat-form-field>
            <br>
            <br>
            <button (click)="register()" mat-raised-button color="accent"><b>Sign Up</b></button>
        </div>
    </div>
</div>