<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div *ngIf="item">
        <div class="header">
            <span class="spacer"></span>
            <h3>{{item.name | titlecase}}</h3>
            <span class="spacer"></span>
            <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
                BACK
            </button>
        </div>
        <br>
        <div class="container page">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="single_product_thumb">
                        <!-- <lib-easy-zoom class="d-block w-100" [thumbImage]="item.pic" [fullImage]="item.pic"
                            [enableLens]="false" [enableScrollZoom]="true" [lensWidth]="200" [lensHeight]="200"
                            [circularLens]="false" [minZoomRatio]="1" [maxZoomRatio]="5" [scrollStepSize]="0.1">
                        </lib-easy-zoom> -->
                        <img style="width: 100%;cursor: pointer;" (click)="viewImage(item.pic)" class="d-block"
                            [src]="item.pic">
                        <div class="row imagesContainer">
                            <div (click)="selectImage(image)" *ngFor="let image of item.images"
                                class="col-4 col-md-3 imageSelector">
                                <img *ngIf="image == item.pic" class="selectedImage d-block w-100" [src]="image"
                                    alt="First slide">
                                <img *ngIf="image != item.pic" class="otherImages d-block w-100" [src]="image"
                                    alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">

                    <div class="single_product_desc">
                        <div class="product-meta-data">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <div
                                        *ngIf="item.option && item.option.options && item.option.options.length && item.option.options.length > 1">
                                        <h4>Available {{item.option.type | titlecase}}'s</h4>
                                        <div class="row" style="padding: 10px; margin-bottom: 15px;">
                                            <ng-container *ngFor="let option of item.option.options;let i=index">
                                                <div (click)="selectOption(i)"
                                                    [class.activeOption]="option.code == currentOption.code"
                                                    class="col-6 col-md-4 option">
                                                    <mat-icon *ngIf="option.code == currentOption.code" class="check">
                                                        check_circle</mat-icon>
                                                    <h5>{{option.label | titlecase}}</h5>
                                                    <h5 class="accentColor" *ngIf="!currentOptional">
                                                        ${{option.price}}<s class="oldPrice">
                                                            ${{option.actualPrice}}</s></h5>
                                                    <h5 class="accentColor" *ngIf="currentOptional">
                                                        ${{option.price + currentOptional.price}}<s class="oldPrice">
                                                            ${{option.actualPrice + currentOptional.actualPrice}}</s>
                                                    </h5>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="singleOption"
                                        *ngIf="!item.option || !item.option.options || !item.option.options.length || item.option.options.length < 2">
                                        <h5>{{item.defaultOption.label | titlecase}}</h5>
                                        <h5 class="accentColor" *ngIf="!currentOptional">
                                            ${{item.defaultOption.price}}<s class="oldPrice">
                                                ${{item.defaultOption.actualPrice}}</s></h5>
                                        <h5 class="accentColor" *ngIf="currentOptional">
                                            ${{item.defaultOption.price + currentOptional.price}}<s class="oldPrice">
                                                ${{item.defaultOption.actualPrice + currentOptional.actualPrice}}</s>
                                        </h5>
                                    </div>
                                    <div *ngIf="item.rating.value"
                                        class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                        <div class="ratings">
                                            <i [class.activeStar]="item.rating.value > 0" class="fa fa-star fa-2x star"
                                                aria-hidden="true"></i>
                                            <i [class.activeStar]="item.rating.value > 1" class="fa fa-star fa-2x star"
                                                aria-hidden="true"></i>
                                            <i [class.activeStar]="item.rating.value > 2" class="fa fa-star fa-2x star"
                                                aria-hidden="true"></i>
                                            <i [class.activeStar]="item.rating.value > 3" class="fa fa-star fa-2x star"
                                                aria-hidden="true"></i>
                                            <i [class.activeStar]="item.rating.value > 4" class="fa fa-star fa-2x star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 extraCont">
                                    <div class="product-meta-data">
                                        <p *ngIf="currentOption.availability" class="available"><i
                                                class="fa fa-circle"></i> In
                                            Stock
                                        </p>
                                        <p *ngIf="!currentOption.availability" class="notAvailable"><i
                                                class="fa fa-circle"></i>
                                            Out
                                            Of Stock
                                        </p>
                                    </div>
                                    <button *ngIf="currentOption.availability" (click)="addToCart()" color="accent"
                                        mat-raised-button>Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <mat-form-field *ngIf="item.optionals && item.optionals.length" class="optionalSelect">
                            <mat-label class="optionalLabel">BED OR MATTRESS</mat-label>
                            <mat-select [(ngModel)]="currentOptionalValue" (selectionChange)="selectOptional($event)">
                                <mat-option style="background: rgb(255,167,38);"
                                    *ngFor="let optional of item.optionals;let i=index" [value]="i">
                                    {{optional.label | titlecase}} and Base
                                </mat-option>
                                <mat-option style="background: rgb(255,167,38); border-top: 1px solid black;"
                                    value="no">
                                    Mattress Only
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="padding-top: 20px;" class="short_overview my-1" [innerHTML]="item.description">
                        </div>
                        <div *ngIf="item.note" class="note short_overview my-1" [innerHTML]="item.note">
                        </div>
                        <div *ngIf="item.warranty" class="warranty short_overview my-1" [innerHTML]="item.warranty">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>