.otherImages {
    margin-bottom: 10px;
    border-radius: 5px 5px;
}

.selectedImage {
    margin-bottom: 10px;
    border: 2px solid var(--accent);
    border-radius: 5px 5px;
}

.activeOption{
    border-radius: 2%;
    position:relative;
    border: 2px solid var(--accent);
}

.oldPrice {
    font-size: 15px;
    color: gray;
}

.activeStar {
    color: var(--accent) !important;
}

.star {
    color: black;
}

.option {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.check{
    position:absolute;
        top:2px;
        right:2px;
        color: var(--accent);
    }

.imagesContainer {
    /* margin-top: 10px; */
    padding: 2%;
}

.available {
    color: green;
}

.notAvailable {
    color: orangered;
}

.note {
    font-weight: bold;
    color: var(--primary);
}

.warranty {
    color: green;
}

.extraCont {
    text-align: left;
}

.short_overview {
    text-align: left;
    margin-top: 10px;
}

.singleOption{
    text-align: left;
}

.imageSelector {
    margin: auto;
}

@media only screen and (max-width: 780px) {
    .ratings {
        margin: auto;
    }
    .extraCont {
        text-align: center;
    }
    .short_overview {
        text-align: center;
    }
    .singleOption{
        text-align: center;
    }
}