<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div *ngIf="order" class="header">
        <span class="spacer"></span>
        <h3>Edit Order - {{order.code}}</h3>
        <span class="spacer"></span>
        <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
            BACK
        </button>
    </div>
    <br>
    <mat-card *ngIf="order" class="detailsCard panel">
        <div class="row primaryColor auto" style="width: 100%;height: 100%; margin-bottom: 10px;">
            <div class="col-12 col-md-6 auto">
                <h6 class="headDetails"><b>Ordered on {{order.date | date}}</b></h6>
            </div>
            <div class="col-6 col-md-6 auto">
                <mat-form-field class="headDetails">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="order.status">
                        <mat-option value="pending">Pending
                        </mat-option>
                        <mat-option value="placed">Placed
                        </mat-option>
                        <mat-option value="shipped">Shipped
                        </mat-option>
                        <mat-option value="delivered">Delivered
                        </mat-option>
                        <mat-option value="done">Done
                        </mat-option>
                        <mat-option value="cancelled">Cancelled
                        </mat-option>
                        <mat-option value="errored">Errored
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-6 auto">
                <h6 class="headDetails"><b>Amount : </b>${{ order.amount }}</h6>
            </div>
        </div>
        <mat-card *ngFor="let element of order.items" class="checkoutCard">
            <div class="row">
                <div class="col-4" style="margin-top: auto;margin-bottom: auto;">
                    <img class="cartImage" [src]="element.item.pic">
                </div>
                <div class="col-8 col-md-8">
                    <div *ngIf="!isMobile" style="height: 100%;" class="row">
                        <div class="col-12 col-md-6">
                            <h6 style="margin-top: 10%;"><b>Name:</b> {{element.item.name}}</h6>
                            <h6 *ngIf="!element.optional || !element.optional.price" style="margin-top: 10%;"><b>Price:</b>
                                ${{element.option.price}}</h6>
                            <h6 *ngIf="element.optional && element.optional.price" style="margin-top: 10%;"><b>Price:</b>
                                ${{element.option.price}}+${{element.optional.price}}</h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6 style="margin-top: 10%;"><b>Quantity:</b> {{element.quantity}}</h6>
                            <h6 style="margin-top: 10%;"><b>{{element.option.label | titlecase}} <span *ngIf="element.optional && element.optional.price">
                                with {{element.optional.label | titlecase}}</span></b></h6>
                        </div>
                    </div>
                    <div *ngIf="isMobile" style="height: 100%;text-align: left;" class="row">
                        <div class="col-12 col-md-6">
                            <h6><b>Name:</b> {{element.item.name}}</h6>
                            <h6 *ngIf="!element.optional || !element.optional.price"><b>Price:</b>
                                ${{element.option.price}}</h6>
                            <h6 *ngIf="element.optional && element.optional.price"><b>Price:</b>
                                ${{element.option.price}}+${{element.optional.price}}</h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6><b>Quantity:</b> {{element.quantity}}</h6>
                            <h6><b>{{element.option.label | titlecase}} <span *ngIf="element.optional && element.optional.price">
                                with {{element.optional.label | titlecase}}</span></b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="checkoutCard">
            <h5>Transaction Details</h5>
            <div class="row">
                <div class="col-12 col-md-6 auto">
                    <b>Payment : </b>{{ order.transaction.method | uppercase  }}
                </div>
                <div class="col-12 col-md-6 auto">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="order.transaction.status">
                            <mat-option value="pending">Pending
                            </mat-option>
                            <mat-option value="paid">Paid
                            </mat-option>
                            <mat-option value="cancelled">Cancelled
                            </mat-option>
                            <mat-option value="failed">Failed
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 auto">
                    <b>TransactionId : </b>{{ order.transaction.transactionId }}
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="order.tracking" class="checkoutCard">
            <h5>Tracking Details</h5>
            <div class="row">
                <div class="col-12 col-md-6 auto">
                    <b>Delivery : </b>{{ order.tracking.type | titlecase }}
                </div>
                <div class="col-12 col-md-6 auto">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="order.tracking.status">
                            <mat-option value="scheduled">Scheduled
                            </mat-option>
                            <mat-option value="shipped">Shipped
                            </mat-option>
                            <mat-option value="delivered">Delivered
                            </mat-option>
                            <mat-option value="cancelled">Cancelled
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 auto">
                    <b>TrackingId : </b>{{ order.tracking.trackingId }}
                </div>
            </div>
        </mat-card>
        <br>
        <br>
        <mat-card *ngIf="order.address" class="checkoutCard">
            <h5>Billing/Delivery Address</h5>
            <div class="row">
                <div *ngIf="order.address.line1" class="col-12 col-md-6 auto">
                    <b>Line 1 : </b>{{order.address.line1}}
                </div>
                <div *ngIf="order.address.line2" class="col-12 col-md-6 auto">
                    <b>Line 2 : </b>{{order.address.line2}}
                </div>
                <div *ngIf="order.address.city" class="col-12 col-md-6 auto">
                    <b>City : </b>{{order.address.city}}
                </div>
                <div *ngIf="order.address.suburb" class="col-12 col-md-6 auto">
                    <b>Suburb : </b>{{order.address.suburb}}
                </div>
                <div *ngIf="order.address.pinCode" class="col-12 col-md-6 auto">
                    <b>Zip Code : </b>{{order.address.pinCode}}
                </div>
                <div *ngIf="order.address.special" class="col-12 col-md-6 auto">
                    <b>Special Instructions : </b>{{order.address.special}}
                </div>
            </div>
        </mat-card>
        <br>
        <br>
        <button (click)="create()" mat-raised-button color="accent"><b>Apply Changes</b></button>
        <br>
        <br>
    </mat-card>
</div>