<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="header">
    <span class="spacer"></span>
    <h3>My Orders</h3>
    <span class="spacer"></span>
    <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
        <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
        BACK
    </button>
</div>
<br>
<div *ngIf="page && page.items && page.items.length" class="container page" style="min-height: 300px;">
    <mat-card (click)="select(order)" *ngFor="let order of page.items" class="orderCard">
        <div class="row" style="width: 100%;">
            <div class="col-3" style="margin: auto;">
                <img class="cartImage" [src]="order.items[0].item.pic">
            </div>
            <div class="col-9" style="margin: 0; padding: 0;">
                <h6><b>Ordered on {{order.date | date}}</b></h6>
                <div class="row primaryColor auto" style="width: 100%;margin: 0; padding: 0;margin-top: 4%;">
                    <div class="col-6 auto">
                        <h6 *ngIf="order.status != 'pending' || order.transaction.status != 'pending'"><b>Status :
                            </b>{{ order.status | titlecase }}</h6>
                        <button *ngIf="order.status == 'pending' && order.transaction.status == 'pending'"
                            (click)="pay(order)" mat-raised-button color="accent"><b>Pay</b></button>
                    </div>
                    <div class="col-6 auto">
                        <h6><b>Amount : </b>${{ order.amount }}</h6>
                    </div>
                </div>
                <div class="row primaryColor auto" style="width: 100%;margin: 0; padding: 0;margin-top: 3%;">
                    <div class="col-12 auto">
                        <h6><b>OrderId : </b>{{ order.code }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div *ngIf="page && (!page.items || !page.items.length)" class="empty">
    <h4 class="emptyText">Oops ! You dont have any orders.</h4>
</div>