<processing-indicator *ngIf="isLoading"></processing-indicator>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <ng-container *ngFor="let banner of tenant.banners;let i=index">
            <li *ngIf="i==0" data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}" class="active"></li>
            <li *ngIf="i!=0" data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}"></li>
        </ng-container>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
        <ng-container *ngFor="let banner of tenant.banners;let i=index">
            <div *ngIf="i==0" class="carousel-item active">
                <div class="bannerDiv" [ngStyle]="{'background-image': 'url(' + banner.url + ')'}"
                    style="background-size: cover;">
                    <div class="banner" style="position: absolute;;height: 100%;width: 100%;opacity: .8;">
                    </div>
                    <h1 class="accentColor bannnerHead" [innerHtml]="banner.text"></h1>
                </div>
            </div>
            <div *ngIf="i!=0" class="carousel-item">
                <div class="bannerDiv" [ngStyle]="{'background-image': 'url(' + banner.url + ')'}"
                    style="background-size: cover;">
                    <div class="banner" style="position: absolute;;height: 100%;width: 100%;opacity: .8;">
                    </div>
                    <h1 class="accentColor bannnerHead" [innerHtml]="banner.text"></h1>
                </div>
            </div>
        </ng-container>
        <!-- <div class="carousel-item active">
            <div class="bannerDiv" style="background-size: contain;background-image: url(/assets/img/bg-1.jpg);">
                <div class="banner" style="position: absolute;;height: 100%;width: 100%;opacity: .8;">
                </div>
                <h1 class="accentColor bannnerHead">
                    Sale! At least 50% Off</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="bannerDiv" style="background-size: contain;background-image: url('/assets/img/bg-1.jpg');">
                <div class="banner" style="position: absolute;;height: 100%;width: 100%;opacity: .8;">
                </div>
                <h1 class="accentColor bannnerHead">Lowest Price Guirentee
                </h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="bannerDiv" style="background-size: contain;background-image: url('/assets/img/bg-1.jpg');">
                <div class="banner" style="position: absolute;;height: 100%;width: 100%;opacity: .8;">
                </div>
                <h1 class="accentColor bannnerHead">
                    Extremly Fast Delivery</h1>
            </div>
        </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="page">
    <div class="header">
        <span class="spacer"></span>
        <h3>Shop By Categories</h3>
        <span class="spacer"></span>
    </div>
    <br>
    <div *ngIf="categories && categories.length" class="container">
        <div class="row">
            <ng-container *ngFor="let category of categories">
                <div class="col-md-4 col-12 catgoryCard single-products-catagory clearfix">
                    <a (click)="select(category.id);">
                        <div style="border-radius: 20px; min-height: 500px;" class="loadingBackground">
                            <img style="border-radius: 20px; visibility: hidden;height: 500px;" [src]="category.pic"
                                (load)="markEventLoaded($event)">
                        </div>

                        <div style="width: 70%;" class="hover-content">
                            <div class="line"></div>
                            <h3 style="color: #fff;">{{category.name}}</h3>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- <div class="listItems">
        <h2 class="accentColor" style="padding-top: 5%;padding-bottom: 5%;">Our Concerns</h2>
        <div class="card-columns">
            <div class="card itemCont">
                <mat-card class="itemCard">
                    <div
                        style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                    </div>
                    <div class="cardData">
                        <span class="primaryColor"><i class="fa fa-bed fa-5x" aria-hidden="true"></i></span>
                        <br>
                        <h4 class="primaryColor">Product Quality</h4>
                        <p class="primaryColor"> Best Quality Best Quality Best Quality
                            Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                    </div>
                </mat-card>
            </div>
            <div class="card itemCont">
                <mat-card class="itemCard">
                    <div
                        style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                    </div>
                    <div class="cardData">
                        <span class="primaryColor"><i class="fa fa-bed fa-5x" aria-hidden="true"></i></span>
                        <br>
                        <h4 class="primaryColor">Product Quality</h4>
                        <p class="primaryColor"> Best Quality Best Quality Best Quality
                            Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                    </div>
                </mat-card>
            </div>
            <div class="card itemCont">
                <mat-card class="itemCard">
                    <div
                        style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                    </div>
                    <div class="cardData">
                        <span class="primaryColor"><i class="fa fa-bed fa-5x" aria-hidden="true"></i></span>
                        <br>
                        <h4 class="primaryColor">Product Quality</h4>
                        <p class="primaryColor"> Best Quality Best Quality Best Quality
                            Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                    </div>
                </mat-card>
            </div>
            <div class="card itemCont">
                <mat-card class="itemCard">
                    <div
                        style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                    </div>
                    <div class="cardData">
                        <span class="primaryColor"><i class="fa fa-bed fa-5x" aria-hidden="true"></i></span>
                        <br>
                        <h4 class="primaryColor">Product Quality</h4>
                        <p class="primaryColor"> Best Quality Best Quality Best Quality
                            Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div> -->
</div>