<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="header">
    <span class="spacer"></span>
    <h3>Shop By Categories</h3>
    <span class="spacer"></span>
</div>
<br>
<div *ngIf="categories && categories.length" class="container page">
    <div class="row">
        <ng-container *ngFor="let category of categories">
            <div class="col-md-4 col-12 catgoryCard single-products-catagory clearfix">
                <a (click)="select(category.id);">
                    <img [src]="category.pic">
                    <div class="hover-content">
                        <div class="line"></div>
                        <h2>{{category.name | titlecase}}</h2>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>
<div class="listItems">
    <!-- <div style="width: 100%; height: 100%; opacity: 0.3;background-color: black; position: absolute;">
    </div> -->
    <h2 class="accentColor" style="padding-top: 5%;padding-bottom: 5%;">Our Concerns</h2>
    <div class="card-columns">
        <div class="card itemCont">
            <mat-card class="itemCard">
                <div style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                </div>
                <div class="cardData">
                    <span class="primaryColor"><i class="fa fa-bed fa-5x"
                            aria-hidden="true"></i></span>
                    <br>
                    <h4 class="primaryColor">Product Quality</h4>
                    <p class="primaryColor"> Best Quality Best Quality Best Quality
                        Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                </div>
            </mat-card>
        </div>
        <div class="card itemCont">
            <mat-card class="itemCard">
                <div style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                </div>
                <div class="cardData">
                    <span class="primaryColor"><i class="fa fa-bed fa-5x"
                            aria-hidden="true"></i></span>
                    <br>
                    <h4 class="primaryColor">Product Quality</h4>
                    <p class="primaryColor"> Best Quality Best Quality Best Quality
                        Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                </div>
            </mat-card>
        </div>
        <div class="card itemCont">
            <mat-card class="itemCard">
                <div style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                </div>
                <div class="cardData">
                    <span class="primaryColor"><i class="fa fa-bed fa-5x"
                            aria-hidden="true"></i></span>
                    <br>
                    <h4 class="primaryColor">Product Quality</h4>
                    <p class="primaryColor"> Best Quality Best Quality Best Quality
                        Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                </div>
            </mat-card>
        </div>
        <div class="card itemCont">
            <mat-card class="itemCard">
                <div style="width: 100%; height: 100%; opacity: 0.6;background-color: white; position: absolute;border-radius: 20px;">
                </div>
                <div class="cardData">
                    <span class="primaryColor"><i class="fa fa-bed fa-5x"
                            aria-hidden="true"></i></span>
                    <br>
                    <h4 class="primaryColor">Product Quality</h4>
                    <p class="primaryColor"> Best Quality Best Quality Best Quality
                        Best Quality Best Quality Best QualityBest Quality Best Quality</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>