<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div class="header">
        <span class="spacer"></span>
        <h3>Shopping Cart</h3>
        <span class="spacer"></span>
        <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
            BACK
        </button>
    </div>
    <br>
    <div *ngIf="cart && cart.items && cart.items.length" class="container page">
        <div class="row">
            <div class="col-12 col-lg-9">
                <mat-card *ngFor="let element of cart.items" class="checkoutCard">
                    <div class="row">
                        <div class="col-3" style="margin-top: auto;margin-bottom: auto;">
                            <img class="cartImage" [src]="element.item.pic">
                        </div>
                        <div class="col-7 col-md-8">
                            <div style="height: 100%;" class="row">
                                <div class="col-12 col-md-6">
                                    <h6 style="margin-top: 10%;"><b>Name:</b> {{element.item.name}}</h6>
                                    <h6 style="margin-top: 10%;"><b>Price:</b> ${{element.option.price}}</h6>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div style="margin-top: 10%;">
                                        <h6><b>Quantity</b></h6>
                                        <button (click)="add(element)" mat-icon-button color="accent">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <input class="quantityBod" value="{{element.quantity}}" readonly>
                                        <button [disabled]="element.quantity < 2" (click)="subtract(element)"
                                            mat-icon-button color="accent">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <button (click)="remove(element.item)" mat-icon-button color="primary">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12 col-lg-3">
                <mat-card class="checkoutCard">
                    <h5 class="tableHeader cardHeader">Cart Total</h5>
                    <div style="margin: 10px;">
                        <div class="header">
                            <h6>Sub Total : </h6>
                            <span class="spacer"></span>
                            <h6>${{cart.amount}}</h6>
                        </div>
                        <div class="header">
                            <h6>Delivery : </h6>
                            <span class="spacer"></span>
                            <h6>FREE</h6>
                        </div>
                        <div class="header">
                            <h6>Total : </h6>
                            <span class="spacer"></span>
                            <h6>${{cart.amount}}</h6>
                        </div>
                    </div>
                    <mat-card-actions style="padding: 10px;">
                        <button [routerLink]="['/checkout']" mat-raised-button color="accent"><b>Checkout</b></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="cart && (!cart.items || !cart.items.length)" class="empty">
        <h4 class="emptyText">Oops ! You dont have any thing added to cart.</h4>
    </div>
</div>