<h2 mat-dialog-title>Select One</h2>
<mat-dialog-content class="mat-typography">
    <mat-radio-group>
        <ng-container *ngFor="let option of options; let i = index">
            <mat-radio-button class="options" (click)="selectOption(option)" [value]="i">
                {{option.label | titlecase}} <span class="product-price">${{option.price}}</span>
            </mat-radio-button>
        </ng-container>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>arrow_back</button>
    <button mat-button (click)="add()" cdkFocusInitial>Add</button>
</mat-dialog-actions>