<processing-indicator *ngIf="isLoading"></processing-indicator>
<div *ngIf="order" class="header">
    <span class="spacer"></span>
    <h3>Order Details - {{order.code}}</h3>
    <span class="spacer"></span>
    <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
        <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="!isMobile" (click)="back()"  class="backButton" mat-raised-button color="primary">
        BACK
    </button>
</div>
<br>
<mat-card *ngIf="order" class="detailsCard panel">
    <div class="row primaryColor auto" style="width: 100%;height: 100%; margin-bottom: 10px;">
        <div class="col-12 col-md-6 auto">
            <h6 class="headDetails"><b>Ordered on {{order.date | date}}</b></h6>
        </div>
        <div class="col-6 col-md-6 auto">
            <h6 class="headDetails"><b>Status : </b>{{ order.status | titlecase }}</h6>
        </div>
        <div class="col-6 col-md-6 auto">
            <h6 class="headDetails"><b>Amount : </b>${{ order.amount }}</h6>
        </div>
    </div>
    <mat-card *ngFor="let element of order.items" class="checkoutCard">
        <div class="row">
            <div class="col-4" style="margin-top: auto;margin-bottom: auto;">
                <img class="cartImage" [src]="element.item.pic">
            </div>
            <div class="col-8 col-md-8">
                <div *ngIf="!isMobile" style="height: 100%;" class="row">
                    <div class="col-12 col-md-6">
                        <h6 style="margin-top: 10%;"><b>Name:</b> {{element.item.name}}</h6>
                        <h6 style="margin-top: 10%;"><b>Price:</b> ${{element.option.price}}</h6>
                    </div>
                    <div class="col-12 col-md-6">
                        <h6 style="margin-top: 10%;"><b>Quantity:</b> {{element.quantity}}</h6>
                        <h6 style="margin-top: 10%;"><b>{{element.option.label}}</b></h6>
                    </div>
                </div>
                <div *ngIf="isMobile" style="height: 100%;text-align: left;" class="row">
                    <div class="col-12 col-md-6">
                        <h6><b>Name:</b> {{element.item.name}}</h6>
                        <h6><b>Price:</b> ${{element.option.price}}</h6>
                    </div>
                    <div class="col-12 col-md-6">
                        <h6><b>Quantity:</b> {{element.quantity}}</h6>
                        <h6><b>{{element.option.label}}</b></h6>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="checkoutCard">
        <h5>Transaction Details</h5>
        <div class="row">
            <div class="col-12 col-md-6 auto">
                <b>Payment : </b>{{ order.transaction.method | uppercase  }}
            </div>
            <div class="col-12 col-md-6 auto">
                <b>Status : </b>{{ order.transaction.status | titlecase  }}
            </div>
            <div class="col-12 col-md-6 auto">
                <b>TransactionId : </b>{{ order.transaction.transactionId }}
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="order.tracking" class="checkoutCard">
        <h5>Tracking Details</h5>
        <div class="row">
            <div class="col-12 col-md-6 auto">
                <b>Status : </b>{{ order.tracking.status | titlecase  }}
            </div>
            <div class="col-12 col-md-6 auto">
                <b>TrackingId : </b>{{ order.tracking.trackingId }}
            </div>
        </div>
    </mat-card>
</mat-card>