/* width */
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

.logo {
  margin-right: 20%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.page {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.pageTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

mat-form-field {
  width: 100% !important;
}

.header {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.header .spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header >.btn:hover {
  color: var(--accent) !important;
}

.category-price {
  font-size: 20px;
  font-weight: 400;
  color: var(--accent);
  line-height: 1;
  margin-bottom: 10px;
}

.catgoryCard {
  margin-bottom: 10px;
}

.footerIcon {
  margin: 3px;
}

.emptyText {
  margin: 10px;
  margin-top: 60px;
}

.empty {
  height: 120px;
  text-align: center;
}

.primaryColor {
  color: var(--primary) !important;
}

.accentColor {
  color: var(--accent) !important;
}

.mat-button-focus-overlay { 
  background-color: transparent!important; 
  }

  .mat-icon-button {
    outline: 0 !important;
  }
  
  button {
    outline: 0 !important;
  }

  .backIcon {
    top: -5px;
  }

  .backButton {
    top: -5px;
  }

  .loadingBackground {
    background-image: url('assets/img/spinner.gif');
    background-position: center;
    background-size: contain;
}

  .mat-dialog-container {
    /* background: transparent !important; */
    /* box-shadow: none !important; */
  }

  @media only screen and (max-width: 780px) {
    p {
      font-size: 12px !important;
    }
    div {
      font-size: 12px !important;
    }
    h6 {
      font-size: 15px !important;
    }
    h5 {
      font-size: 18px !important;
    }
    h4 {
      font-size: 22px !important;
    }
    h3 {
      font-size: 25px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    .searchBar .mat-form-field-infix {
      margin-top: 8px !important;
  }
}